Repository nanoframework/nf-Visual-Studio-extension: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-task-tools.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-task-tools.yml: any of: Tools.BuildTasks-2019
  azure-pipelines.yml: any file but: README.md, REAME-BEFORE-UPDATE-REFS.txt, LICENSE, CHANGELOG*.md, NuGet.Config, docs, .editorconfig, .gitattributes, .gitignore, .gitmodules, spelling_exclusion.dic

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.71 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Update MDP to v4.0.0-preview.71
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Add rule to expose verbose option for minimization stage of MDP
  VisualStudio.Extension-2019/Rules/general.browseobject.xaml
  VisualStudio.Extension-2022/Rules/general.browseobject.xaml
Due: azure-pipelines.yml

Add rule to expose verbose option for minimization stage of MDP (#915)
  VisualStudio.Extension-2019/Rules/general.browseobject.xaml
  VisualStudio.Extension-2022/Rules/general.browseobject.xaml
Due: azure-pipelines.yml

Update MDP to v4.0.0-preview.71 (#914)
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.73 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Update MDP to v4.0.0-preview.73
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Update MDP to v4.0.0-preview.73 (#917)
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Add check for null assembly references
  Tools.BuildTasks-2019/GenerateBinaryOutputTask.cs
Due: azure-pipelines-task-tools.yml, azure-pipelines.yml

Update VS2022 dependencies
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
  VisualStudio.Extension-2022/source.extension.vsixmanifest
Due: azure-pipelines.yml

Update VS2022 dependencies (#919)
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
  VisualStudio.Extension-2022/source.extension.vsixmanifest
Due: azure-pipelines.yml

Fix resource not updating when adding or renaming resources (#918)
  Tools.BuildTasks-2019/GenerateNanoResourceTask.cs
  Tools.BuildTasks-2019/ProcessResourceFiles.cs
  vs-extension.shared/ResXFileCodeGenerator/NFResXFileCodeGenerator.cs
Due: azure-pipelines-task-tools.yml, azure-pipelines.yml

Update MDP to v4.0.0-preview.79
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Update MDP to v4.0.0-preview.79 (#920)
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Add ARM64 support for VS2022/VS2026 VSIX
  Tools.BuildTasks-2022/Tools.BuildTasks-2022.csproj
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/source.extension.vsixmanifest
Due: azure-pipelines.yml

Add ARM64 support for VS2022/VS2026 VSIX (#921)
  Tools.BuildTasks-2022/Tools.BuildTasks-2022.csproj
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/source.extension.vsixmanifest
Due: azure-pipelines.yml

Add stage to publish extension to marketplace
  azure-pipelines.yml
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.85 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
Due: azure-pipelines.yml

Add stage to publish extension to marketplace (#922)
  azure-pipelines.yml
Due: azure-pipelines.yml

Update MDP to v4.0.0-preview.85
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Update MDP to v4.0.0-preview.85 (#924)
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Work CI-CD
  azure-pipelines.yml
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.87 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.89 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.91
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.93
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.94 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Fix project & Device Explorer icons missing at non-100% display scaling
  VisualStudio.Extension-2019/Resources/DeviceCapabilities.xaml
  VisualStudio.Extension-2019/Resources/DeviceConnected.xaml
  VisualStudio.Extension-2019/Resources/DeviceDisconnected.xaml
  VisualStudio.Extension-2019/Resources/DeviceErase.xaml
  VisualStudio.Extension-2019/Resources/DisableDeviceWatchers.xaml
  VisualStudio.Extension-2019/Resources/NanoFrameworkProject.xaml
  VisualStudio.Extension-2019/Resources/NetworkConfig.xaml
  VisualStudio.Extension-2019/Resources/Ping.xaml
  VisualStudio.Extension-2019/Resources/Reboot.xaml
  VisualStudio.Extension-2019/Resources/RescanDevices.xaml
  VisualStudio.Extension-2019/Resources/Settings.xaml
  VisualStudio.Extension-2019/Resources/ShowInternalErrors.xaml
  VisualStudio.Extension-2022/Resources/DeviceCapabilities.xaml
  VisualStudio.Extension-2022/Resources/DeviceConnected.xaml
  VisualStudio.Extension-2022/Resources/DeviceDisconnected.xaml
  VisualStudio.Extension-2022/Resources/DeviceErase.xaml
  VisualStudio.Extension-2022/Resources/DisableDeviceWatchers.xaml
  VisualStudio.Extension-2022/Resources/NanoFrameworkProject.xaml
  VisualStudio.Extension-2022/Resources/NetworkConfig.xaml
  VisualStudio.Extension-2022/Resources/Ping.xaml
  VisualStudio.Extension-2022/Resources/Reboot.xaml
  VisualStudio.Extension-2022/Resources/RescanDevices.xaml
  VisualStudio.Extension-2022/Resources/Settings.xaml
  VisualStudio.Extension-2022/Resources/ShowInternalErrors.xaml
Due: azure-pipelines.yml

Fix project & Device Explorer icons missing at non-100% display scaling (#928)
  VisualStudio.Extension-2019/Resources/DeviceCapabilities.xaml
  VisualStudio.Extension-2019/Resources/DeviceConnected.xaml
  VisualStudio.Extension-2019/Resources/DeviceDisconnected.xaml
  VisualStudio.Extension-2019/Resources/DeviceErase.xaml
  VisualStudio.Extension-2019/Resources/DisableDeviceWatchers.xaml
  VisualStudio.Extension-2019/Resources/NanoFrameworkProject.xaml
  VisualStudio.Extension-2019/Resources/NetworkConfig.xaml
  VisualStudio.Extension-2019/Resources/Ping.xaml
  VisualStudio.Extension-2019/Resources/Reboot.xaml
  VisualStudio.Extension-2019/Resources/RescanDevices.xaml
  VisualStudio.Extension-2019/Resources/Settings.xaml
  VisualStudio.Extension-2019/Resources/ShowInternalErrors.xaml
  VisualStudio.Extension-2022/Resources/DeviceCapabilities.xaml
  VisualStudio.Extension-2022/Resources/DeviceConnected.xaml
  VisualStudio.Extension-2022/Resources/DeviceDisconnected.xaml
  VisualStudio.Extension-2022/Resources/DeviceErase.xaml
  VisualStudio.Extension-2022/Resources/DisableDeviceWatchers.xaml
  VisualStudio.Extension-2022/Resources/NanoFrameworkProject.xaml
  VisualStudio.Extension-2022/Resources/NetworkConfig.xaml
  VisualStudio.Extension-2022/Resources/Ping.xaml
  VisualStudio.Extension-2022/Resources/Reboot.xaml
  VisualStudio.Extension-2022/Resources/RescanDevices.xaml
  VisualStudio.Extension-2022/Resources/Settings.xaml
  VisualStudio.Extension-2022/Resources/ShowInternalErrors.xaml
Due: azure-pipelines.yml

Deploy/debug to the user-selected device + relax native pre-check to checksum-only
  vs-extension.shared/DebugLauncher/NanoDebuggerLaunchProvider.cs
  vs-extension.shared/DeployProvider/DeployProvider.cs
Due: azure-pipelines.yml

Introduce INanoDebugEngineBinding seam so the debug engine is pluggable
  vs-extension.shared/DebugLauncher/Ad7CorDebugEngineBinding.cs
  vs-extension.shared/DebugLauncher/ConcordEngineBinding.cs
  vs-extension.shared/DebugLauncher/INanoDebugEngineBinding.cs
  vs-extension.shared/DebugLauncher/NanoDebuggerLaunchProvider.cs
  vs-extension.shared/vs-extension.shared.projitems
Due: azure-pipelines.yml

docs: bring the SDK-style migration plan into the repo + reconcile with implemented status
  docs/plans/sdk-style-projects/00-overview.md
  docs/plans/sdk-style-projects/01-current-state.md
  docs/plans/sdk-style-projects/02-sdk-design.md
  docs/plans/sdk-style-projects/03-project-file-migration.md
  docs/plans/sdk-style-projects/04-mdp-native-integration.md
  docs/plans/sdk-style-projects/05-cli-experience.md
  docs/plans/sdk-style-projects/06-ide-integration.md
  docs/plans/sdk-style-projects/07-library-migration.md
  docs/plans/sdk-style-projects/08-nuget-pipeline.md
  docs/plans/sdk-style-projects/09-implementation-strategy.md
  docs/plans/sdk-style-projects/10-tooling-specs.md
  docs/plans/sdk-style-projects/EXECUTION-PLAN.md
  docs/plans/sdk-style-projects/NanoMigrate/Converter.cs
  docs/plans/sdk-style-projects/NanoMigrate/NanoMigrate.csproj
  docs/plans/sdk-style-projects/NanoMigrate/Program.cs
  docs/plans/sdk-style-projects/NanoMigrate/Support.cs
  docs/plans/sdk-style-projects/NanoMigrate/nano-migrate.py
  docs/plans/sdk-style-projects/NanoMigrate/nanoframework-sdk-migration.skill
  docs/plans/sdk-style-projects/NanoMigrate/nuget.config
  docs/plans/sdk-style-projects/README.md
  docs/plans/sdk-style-projects/SKILL.md
  docs/plans/sdk-style-projects/contributing-compliance.md
  docs/plans/sdk-style-projects/debugger-blocker-diagnosis-prompt.md
  docs/plans/sdk-style-projects/migration-rules.md
  docs/plans/sdk-style-projects/poc-findings/DEBUGGING-LOG.md
  docs/plans/sdk-style-projects/poc-findings/DEVICE-RUN-DROPDOWN.md
  docs/plans/sdk-style-projects/poc-findings/RESULTS.md
  docs/plans/sdk-style-projects/poc-sdk-style-debugging-plan.md
  docs/plans/sdk-style-projects/sdk-migration-home-chore.md
  docs/plans/sdk-style-projects/sdk-migration-home-issue.md
  docs/plans/sdk-style-projects/vscode-extension-impact.md
Due: none

docs: retire poc/sdk-style-debugging branch; point to archive tag
  docs/plans/sdk-style-projects/EXECUTION-PLAN.md
  docs/plans/sdk-style-projects/README.md
  docs/plans/sdk-style-projects/poc-findings/RESULTS.md
  docs/plans/sdk-style-projects/sdk-migration-home-chore.md
  docs/plans/sdk-style-projects/sdk-migration-home-issue.md
Due: none

docs: add PR-INSTRUCTIONS (org PR template) + wire it into the fleet upgrader
  docs/plans/sdk-style-projects/07-library-migration.md
  docs/plans/sdk-style-projects/EXECUTION-PLAN.md
  docs/plans/sdk-style-projects/PR-INSTRUCTIONS.md
  docs/plans/sdk-style-projects/README.md
Due: none

docs: PR text is plain professional prose, never caveman/compressed style
  docs/plans/sdk-style-projects/PR-INSTRUCTIONS.md
Due: none

docs: Phase 1 kickoff — samples item in strategy + Phase 1 execution tracker
  docs/plans/sdk-style-projects/09-implementation-strategy.md
  docs/plans/sdk-style-projects/README.md
  docs/plans/sdk-style-projects/phase-1-execution.md
Due: none

docs: move NanoMigrate to the nanoFramework.NET.Sdk repo; repoint references
  docs/plans/sdk-style-projects/07-library-migration.md
  docs/plans/sdk-style-projects/NanoMigrate/Converter.cs
  docs/plans/sdk-style-projects/NanoMigrate/NanoMigrate.csproj
  docs/plans/sdk-style-projects/NanoMigrate/Program.cs
  docs/plans/sdk-style-projects/NanoMigrate/Support.cs
  docs/plans/sdk-style-projects/NanoMigrate/nano-migrate.py
  docs/plans/sdk-style-projects/NanoMigrate/nanoframework-sdk-migration.skill
  docs/plans/sdk-style-projects/NanoMigrate/nuget.config
  docs/plans/sdk-style-projects/PR-INSTRUCTIONS.md
  docs/plans/sdk-style-projects/README.md
  docs/plans/sdk-style-projects/SKILL.md
  docs/plans/sdk-style-projects/migration-rules.md
  docs/plans/sdk-style-projects/phase-1-execution.md
Due: none

docs: record CPM, coexistence, and fleet-conversion test results in the Phase 1 tracker
  docs/plans/sdk-style-projects/phase-1-execution.md
Due: none
