Repository nanoframework/nf-Visual-Studio-extension: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-task-tools.yml, azure-pipelines.yml

azure-pipelines-task-tools.yml:
  pool:
    vmImage: windows-latest
  steps:
  - checkout: self
    persistCredentials: true
  - task: NuGetToolInstaller@1
    condition: succeeded()
    displayName: Install specific version of NuGet
    inputs:
      versionSpec: '>=5.10.0'
  - task: UseDotNet@2
    displayName: Install .NET 6.0 SDK
    inputs:
  ...

azure-pipelines.yml:
  jobs:
  - job: Get_Build_Options
    pool:
      vmImage: windows-latest
    steps:
    - checkout: self
      submodules: false
  ...

docs: document 'dotnet nano migrate' (NanoMigrate in the SDK) + glob + test-first
  docs/plans/sdk-style-projects/05-cli-experience.md
  docs/plans/sdk-style-projects/10-tooling-specs.md
Due: none

docs: point to the canonical text skill in the SDK repo; drop nano-migrate.py mention
  docs/plans/sdk-style-projects/README.md
  docs/plans/sdk-style-projects/SKILL.md
Due: none

docs: add the dotnet-nano umbrella tool layout (built-in commands + external prebuilt tools)
  docs/plans/sdk-style-projects/README.md
  docs/plans/sdk-style-projects/nano-tool.md
Due: none

docs: note dotnet nano migrate is solution-aware (.sln/.slnx)
  docs/plans/sdk-style-projects/05-cli-experience.md
Due: none

docs: record samples migration complete + v1/v2 PE note + sample follow-ups
  docs/plans/sdk-style-projects/phase-1-execution.md
Due: none

docs: 3 draft PRs open (SDK#2, ext#929, Samples#463) + next-steps roadmap
  docs/plans/sdk-style-projects/EXECUTION-PLAN.md
  docs/plans/sdk-style-projects/phase-1-execution.md
Due: none

Work CI-CD
  azure-pipelines.yml
Due: azure-pipelines.yml

Fix project & Device Explorer icons missing at non-100% display scaling (#928)
  VisualStudio.Extension-2019/Resources/DeviceCapabilities.xaml
  VisualStudio.Extension-2019/Resources/DeviceConnected.xaml
  VisualStudio.Extension-2019/Resources/DeviceDisconnected.xaml
  VisualStudio.Extension-2019/Resources/DeviceErase.xaml
  VisualStudio.Extension-2019/Resources/DisableDeviceWatchers.xaml
  VisualStudio.Extension-2019/Resources/NanoFrameworkProject.xaml
  VisualStudio.Extension-2019/Resources/NetworkConfig.xaml
  VisualStudio.Extension-2019/Resources/Ping.xaml
  VisualStudio.Extension-2019/Resources/Reboot.xaml
  VisualStudio.Extension-2019/Resources/RescanDevices.xaml
  VisualStudio.Extension-2019/Resources/Settings.xaml
  VisualStudio.Extension-2019/Resources/ShowInternalErrors.xaml
  VisualStudio.Extension-2022/Resources/DeviceCapabilities.xaml
  VisualStudio.Extension-2022/Resources/DeviceConnected.xaml
  VisualStudio.Extension-2022/Resources/DeviceDisconnected.xaml
  VisualStudio.Extension-2022/Resources/DeviceErase.xaml
  VisualStudio.Extension-2022/Resources/DisableDeviceWatchers.xaml
  VisualStudio.Extension-2022/Resources/NanoFrameworkProject.xaml
  VisualStudio.Extension-2022/Resources/NetworkConfig.xaml
  VisualStudio.Extension-2022/Resources/Ping.xaml
  VisualStudio.Extension-2022/Resources/Reboot.xaml
  VisualStudio.Extension-2022/Resources/RescanDevices.xaml
  VisualStudio.Extension-2022/Resources/Settings.xaml
  VisualStudio.Extension-2022/Resources/ShowInternalErrors.xaml
Due: azure-pipelines.yml

Fix project & Device Explorer icons missing at non-100% display scaling (#930)
  VisualStudio.Extension-2019/Resources/DeviceCapabilities.xaml
  VisualStudio.Extension-2019/Resources/DeviceConnected.xaml
  VisualStudio.Extension-2019/Resources/DeviceDisconnected.xaml
  VisualStudio.Extension-2019/Resources/DeviceErase.xaml
  VisualStudio.Extension-2019/Resources/DisableDeviceWatchers.xaml
  VisualStudio.Extension-2019/Resources/NanoFrameworkProject.xaml
  VisualStudio.Extension-2019/Resources/NetworkConfig.xaml
  VisualStudio.Extension-2019/Resources/Ping.xaml
  VisualStudio.Extension-2019/Resources/Reboot.xaml
  VisualStudio.Extension-2019/Resources/RescanDevices.xaml
  VisualStudio.Extension-2019/Resources/Settings.xaml
  VisualStudio.Extension-2019/Resources/ShowInternalErrors.xaml
  VisualStudio.Extension-2022/Resources/DeviceCapabilities.xaml
  VisualStudio.Extension-2022/Resources/DeviceConnected.xaml
  VisualStudio.Extension-2022/Resources/DeviceDisconnected.xaml
  VisualStudio.Extension-2022/Resources/DeviceErase.xaml
  VisualStudio.Extension-2022/Resources/DisableDeviceWatchers.xaml
  VisualStudio.Extension-2022/Resources/NanoFrameworkProject.xaml
  VisualStudio.Extension-2022/Resources/NetworkConfig.xaml
  VisualStudio.Extension-2022/Resources/Ping.xaml
  VisualStudio.Extension-2022/Resources/Reboot.xaml
  VisualStudio.Extension-2022/Resources/RescanDevices.xaml
  VisualStudio.Extension-2022/Resources/Settings.xaml
  VisualStudio.Extension-2022/Resources/ShowInternalErrors.xaml
Due: azure-pipelines.yml

docs: record full build sweep (152/155) + AMQP pre-existing-rot diagnosis
  docs/plans/sdk-style-projects/phase-1-execution.md
Due: none

docs: PR rule — no AI/tool attribution (no 'Generated with Claude') in PR text
  docs/plans/sdk-style-projects/PR-INSTRUCTIONS.md
Due: none

docs: nano-tool layout — umbrella moved under tools/nano; all CLI projects under tools/
  docs/plans/sdk-style-projects/nano-tool.md
Due: none

docs: update migrate tool path tools/NanoMigrate -> tools/migrate
  docs/plans/sdk-style-projects/05-cli-experience.md
  docs/plans/sdk-style-projects/07-library-migration.md
  docs/plans/sdk-style-projects/10-tooling-specs.md
  docs/plans/sdk-style-projects/PR-INSTRUCTIONS.md
  docs/plans/sdk-style-projects/README.md
  docs/plans/sdk-style-projects/SKILL.md
  docs/plans/sdk-style-projects/migration-rules.md
  docs/plans/sdk-style-projects/phase-1-execution.md
Due: none

docs(nano-tool): grouping dir migrate/ (was NanoMigrate/)
  docs/plans/sdk-style-projects/nano-tool.md
Due: none

docs: redirect tool plan docs to the shipped SDK-repo READMEs
  docs/plans/sdk-style-projects/07-library-migration.md
  docs/plans/sdk-style-projects/SKILL.md
  docs/plans/sdk-style-projects/nano-tool.md
Due: none

docs: execution plan — record tooling + samples-migration milestone (2026-06-16)
  docs/plans/sdk-style-projects/EXECUTION-PLAN.md
Due: none

docs: spec-coverage matrix (docs 00-10) + backlog issue stubs
  docs/plans/sdk-style-projects/EXECUTION-PLAN.md
  docs/plans/sdk-style-projects/README.md
  docs/plans/sdk-style-projects/sdk-migration-backlog-issues.md
Due: none

docs: file spec-backlog issues (Home#1787-#1793) and cross-reference them
  docs/plans/sdk-style-projects/EXECUTION-PLAN.md
  docs/plans/sdk-style-projects/sdk-migration-backlog-issues.md
  docs/plans/sdk-style-projects/sdk-migration-home-chore.md
Due: none

docs: file second batch of tracking issues (Home#1794-#1802) and cross-reference
  docs/plans/sdk-style-projects/EXECUTION-PLAN.md
  docs/plans/sdk-style-projects/phase-1-execution.md
  docs/plans/sdk-style-projects/sdk-migration-backlog-issues.md
  docs/plans/sdk-style-projects/sdk-migration-home-chore.md
Due: none

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.97 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.98 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Rewire VS 2022 extension to SDK build tasks
  Tools.BuildTasks-2019/ProcessResourceFiles.cs
  Tools.BuildTasks-2019/Utilities/DebuggerHelper.cs
  Tools.BuildTasks-2022/Properties/AssemblyInfo.cs
  Tools.BuildTasks-2022/Tools.BuildTasks-2022.csproj
  Tools.BuildTasks-2022/key.snk
  Tools.BuildTasks-2022/packages.lock.json
  Tools.BuildTasks-2022/version.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
  nanoFramework.Tools.VisualStudio.sln
Due: azure-pipelines-task-tools.yml, azure-pipelines.yml

Rewire VS 2022 extension to SDK build tasks (#933)
  Tools.BuildTasks-2019/ProcessResourceFiles.cs
  Tools.BuildTasks-2019/Utilities/DebuggerHelper.cs
  Tools.BuildTasks-2022/Properties/AssemblyInfo.cs
  Tools.BuildTasks-2022/Tools.BuildTasks-2022.csproj
  Tools.BuildTasks-2022/key.snk
  Tools.BuildTasks-2022/packages.lock.json
  Tools.BuildTasks-2022/version.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
  nanoFramework.Tools.VisualStudio.sln
Due: azure-pipelines-task-tools.yml, azure-pipelines.yml

Remove ExcludeClassByName para from MDP targets
  VisualStudio.Extension-2019/Targets/NFProjectSystem.MDP.targets
  VisualStudio.Extension-2022/Targets/NFProjectSystem.MDP.targets
Due: azure-pipelines.yml

Remove ExcludeClassByName parameter from MDP targets (#934)
  VisualStudio.Extension-2019/Targets/NFProjectSystem.MDP.targets
  VisualStudio.Extension-2022/Targets/NFProjectSystem.MDP.targets
Due: azure-pipelines.yml

Update NuGet references
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Update NuGet references (#935)
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Add back MSBuild tasks for VS2022
  Tools.BuildTasks-2022/Properties/AssemblyInfo.cs
  Tools.BuildTasks-2022/Tools.BuildTasks-2022.csproj
  Tools.BuildTasks-2022/key.snk
  Tools.BuildTasks-2022/packages.lock.json
  Tools.BuildTasks-2022/version.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
  nanoFramework.Tools.VisualStudio.sln
Due: azure-pipelines.yml

Fix from code review
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
Due: azure-pipelines.yml

Add back MSBuild tasks for VS2022 (#938)
  Tools.BuildTasks-2022/Properties/AssemblyInfo.cs
  Tools.BuildTasks-2022/Tools.BuildTasks-2022.csproj
  Tools.BuildTasks-2022/key.snk
  Tools.BuildTasks-2022/packages.lock.json
  Tools.BuildTasks-2022/version.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
  nanoFramework.Tools.VisualStudio.sln
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.100 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.101 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.Debugger to v2.5.21 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.Debugger to v2.5.23 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.Debugger to v3.0.0-preview.14 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.Debugger to v3.0.0-preview.18 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.Debugger to v3.0.0-preview.19 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.102 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Bumps nanoFramework.Tools.MetadataProcessor.MsBuildTask to 4.0.0-preview.103 ***NO_CI***
  VisualStudio.Extension-2019/VisualStudio.Extension-vs2019.csproj
  VisualStudio.Extension-2019/packages.lock.json
  VisualStudio.Extension-2022/VisualStudio.Extension-vs2022.csproj
  VisualStudio.Extension-2022/packages.lock.json
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-task-tools.yml: any of: Tools.BuildTasks-2019
  azure-pipelines.yml: any file but: README.md, REAME-BEFORE-UPDATE-REFS.txt, LICENSE, CHANGELOG*.md, NuGet.Config, docs, .editorconfig, .gitattributes, .gitignore, .gitmodules, spelling_exclusion.dic
